body{
  background-color: white;
  font-family: 'Noto Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  color: black;
}


/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1281px) {
  
}
