/* =========================How==============================================*/
/* =========================How==============================================*/
/* =========================How==============================================*/
/* =========================How==============================================*/
/* =========================How==============================================*/
/* =========================How==============================================*/
/* =========================How==============================================*/

.Licenses{
  font-family: 'Noto Sans', sans-serif;
  background-color: #104D95;
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.Licenses h6{
  font-weight: bold;
}
.Licenses p{
  font-size: 0.8em;
}
 .liscContent{
   text-align: center;
 }
 .liscContent h4{
   font-weight: bold;
   color: #0A2F5E;
 }
 .liscContent img {
   width: 50%;
   margin-bottom: 20px;
 }

 .icon{
   margin-top: 10px;
   margin-bottom: 10px;
   text-align: right;
 }

 .text{
   /* padding: 0; */
 }

/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/
/* =========================Responsiveness==============================================*/





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 770px) {
  .Licenses{
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .liscContent img {
    width: 70%;
    margin-bottom: 20px;
  }
  .liscCol{
    padding-right: 40px;
    margin-bottom: 10px;
  }

  .icon{
    /* width: 40%; */
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
  }
  .icon img{
    width: 60%;
  }
  .text{
    padding: 0;
    text-align: left;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 771px) {
  /* .Licenses{
    padding-left: 50px;
  padding-right: 50px;
  } */
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 860px) {
  /* .Licenses{
    padding-left: 100px;
  padding-right: 100px;
  } */
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* .Licenses{
    padding-left: 200px;
  padding-right: 200px;
  } */
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1281px) {
  

}

