.services {
    background-color: white;
    color: black;
    text-align: center;
}
.services h4{
    color: #0A2F5E;
}
.services img{
    width: 100%;
}
.services button{
    border: 0px;
    font-family: 'Noto Sans', sans-serif;
    background-color: white;
    padding-left: 0px;
    padding-right: 0px;
}
.modal {
    font-size: 17px;
    display: block;
    width: 100%;
    background-color: white;
    max-height: 62%;
  }
  .modal > .header {
      background-color: #104D95;
      color: white;
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal img{
      width: 100%;
  }
  .modal h4{
      margin: 1.52rem 0 .912rem 0 !important;
  }
  .modal .moreService {
      margin-top: 20px;
  }
  .modal .btn {
      background-color: #FFC801;
      border-radius: 5px;
      color: black;
      font-size: 14px;
      text-transform: none;
    height: 25px;
    line-height: inherit;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    opacity: 1;
    padding: 1px 7px;
    line-height: 25px;
    right: 20px;
    top: 5px;
    font-size: 25px;
    color: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
    font-weight: 400;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .services{
        padding-left: 0px;
        padding-right: 0px;
    }
    .serviceClick{
        padding-left: 0px;
        padding-right: 0px;
    }
    .services img{
        opacity: 0.7;
    }
    .modal img{
        opacity: 1;
    }
    .services button{
        background-color: black;
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 20px;

    }
    .services .modal{
        max-height: 70%;
    }
    .services button #septic{
        color: white;
        position: absolute;
        top: 40%;
        left: 37%;
        font-size: 25px;
    }
    .services button #utility{
        color: white;
        position: absolute;
        top: 40%;
        left: 43%;
        font-size: 25px;
    }
    .services button #paving{
        color: white;
        position: absolute;
        top: 40%;
        left: 43%;
        font-size: 25px;
    }
    .modal .text{
        margin-bottom: 25px;
    }
}